.card-container {
    max-width: 15rem;
    height: 11rem;
    border: 1px solid #EEF2FF;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.card-container:hover, .card-container:focus{
    box-shadow: 0 5px 5px grey;
    opacity: .8;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: 500;
    font-size: .875rem;
    color: black;
}

.img-conatainer {
    padding: .5rem;
    border-radius: 8px;
    background-color: #155DFC;
}

.amount-num {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .25rem;
}

.amount-comment {
    font-size: .75rem;
    font-weight: 400;
    color: #8A8FA0;
}
