.auth-container {
    background-image: url(../images/auth-images/background.svg);
    background-color: #F6F8F9;
    background-blend-mode: overlay;
    max-width: 1351px;
    padding: 1rem 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.auth {
    max-width: 28rem;
    margin: 0 auto;
    min-height: 38.625rem;
    background-color: white;
    border-radius: 14px;
    box-shadow: 6px 7px 14px #c8cacc, -6px 7px 14px #c8cacc;
}

.logo-icon {
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    padding-top: 2.5rem;
    margin-bottom: .875rem;
}

.log-in,
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy,
.copyright {
    font-weight: 400;
    text-align: center;
    color: #6a7282;
}

.policy a {
    text-decoration: none;
    color: #155DFC;
}

.policy {
    font-size: .75rem;
}

.copyright {
    font-size: .875rem;
    padding-bottom: .5rem;
}

.sign-up {
    display: none;
}

/* Animation */
.circle-shape,
.arrow-shape,
.triangle-shape,
.circle-one,
.circle-two {
    position: absolute;
}

.circle-shape {
    top: 8rem;
    left: 4rem;
}

.arrow-shape {
    right: 21.25rem;
    top: 6.25rem;
    animation: move 1s infinite ease-in-out;
}

@keyframes move {
    0% {
        top: 6.25rem;
    }

    50% {
        top: 7.1875rem;
    }
}

.triangle-shape {

    right: 21.25rem;
    top: 20rem;
}

.circle-one,
.circle-two {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    animation: inout 2s ease-out infinite;

}

@keyframes inout {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    50% {
        transform: scale(1.3);
        opacity: .6;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: scale(0.2);
        opacity: 0;
    }
}

.circle-one {
    background: radial-gradient(circle at center, #5757DD, white);
    top: 13.75rem;
    left: 4.6rem;
}

.circle-two {
    background: radial-gradient(circle at center, #B33BB3, white);
    top: 25.625rem;
    left: 7.9375rem;
}